<h2>Spaceships</h2>
<div *ngFor="let ship of spaceships">
  <h3>{{ ship.name }}</h3>
  <div class="row">
    <label class="col-md-3">Name:</label>
    <div class="col-md-9 mb-1"><input type="text" name="ship-name" [(ngModel)]="ship.name"></div>
    <label class="col-md-3">Type:</label>
    <div class="col-md-9 mb-1"><input type="text" name="ship-type" [(ngModel)]="ship.type"></div>
    <label class="col-md-3">Top Speed:</label>
    <div class="col-md-9 mb-1"><input type="text" name="ship-top_speed" [(ngModel)]="ship.top_speed"></div>
    <div class="col-md-9 offset-3">
      <button (click)="updateShip(ship)" class="btn btn-primary">Save</button>&nbsp;
      <button (click)="deleteShip(ship)" class="btn btn-danger">Delete</button>
    </div>
  </div>
</div>

<h3>Create a new spaceship:</h3>

<div class="row mb-1">
  <label class="col-md-3">Name:</label>
  <div class="col-md-9 mb-1"><input type="text" name="ship-name" [(ngModel)]="new_ship.name"></div>
  <label class="col-md-3">Type:</label>
  <div class="col-md-9 mb-1"><input type="text" name="ship-type" [(ngModel)]="new_ship.type"></div>
  <label class="col-md-3">Top Speed:</label>
  <div class="col-md-9 mb-1"><input type="text" name="ship-top_speed" [(ngModel)]="new_ship.top_speed"></div>
  <div class="col-md-2 offset-3">
    <button (click)="createShip()" class="btn btn-primary">Save</button>
  </div>
</div>
