{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <p>This is a mini-CRUD application using a back-end built on Django 2.0 and Django Rest Framework. It also illustrates how to create and send CSRF tokens in the HTTP headers.</p>

  <app-root>Loading the app...</app-root>

  <script type="text/javascript" src="{% static 'ng-demo/dist/runtime.js' %}"></script>
  <script type="text/javascript" src="{% static 'ng-demo/dist/polyfills.js' %}"></script>
  <script type="text/javascript" src="{% static 'ng-demo/dist/styles.js' %}"></script>
  <script type="text/javascript" src="{% static 'ng-demo/dist/vendor.js' %}"></script>
  <script type="text/javascript" src="{% static 'ng-demo/dist/main.js' %}"></script>

{% endblock %}
