{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <app-root></app-root>

  <script type="text/javascript" src="{% static 'ng-demo/dist/runtime.js' %}"></script>
  <script type="text/javascript" src="{% static 'ng-demo/dist/polyfills.js' %}"></script>
  <script type="text/javascript" src="{% static 'ng-demo/dist/styles.js' %}"></script>
  <script type="text/javascript" src="{% static 'ng-demo/dist/vendor.js' %}"></script>
  <script type="text/javascript" src="{% static 'ng-demo/dist/main.js' %}"></script>

{% endblock %}
